.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #789;
}

div.main{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
  margin-bottom: 5px;
}


#textbox1, #textbox2 {
    display: inline;
    padding: 1px;
    height: 5em;
    margin-right: 20px;
}


.col-xs-4 {
    width : 500px;
}

#textbox3, #textbox4 {
    display: inline;
    margin-right: : 25px;
}
#myTopnav{
  margin: 0px;
}

span{
  border-radius: 5px;
}

#search {
    width: 22em;  height: 3em;
    text-align: center;
    margin: auto;
    padding : 0px;
    margin-top: 10px;
}


div.colors {
background: #F1FBFF;
}

input {
  border-radius: 0px 5px 5px 0px;
  height : 45px;
  width : 350px;
}

#total {
float: left;
width: 50%;
height: auto;
  background:#857673;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

input {
margin: 50px;
}

#logo{
  height: 100px;
 background-color: #B93113;
margin-bottom: 10px;
background: url(./images/lock.png);
width: 300px;
background-size: 30px 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C3C3E5;
    border-bottom: thin solid  black;
}

li {
    float: right;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.igniteSidebar-nav  ul{
    height: 500px !important;
}
.igniteSidebar-nav ul li{
    display: block !important;
}